.group-tile {
  width: 15vw;
  height: 25vh;
  margin: 20px;
  padding: 5px;
  background-color: #faa499;
  background-image: linear-gradient(
    319deg,
    #faa499 0%,
    #f7dd85 37%,
    #ffc55c 100%
  );
  border-radius: 30px;
}

.bigText {
  font-size: 2.2em;
  font-weight: bold;
}
