.message-board {
  width: 50vw;
  margin: 20px auto;
  padding: 5px;
  background-color: #faa499;
  background-image: linear-gradient(
    319deg,
    #faa499 0%,
    #f7dd85 37%,
    #ffc55c 100%
  );
  border-radius: 30px;
}

.message-list {
  padding: 10px;
}

.no-style {
  text-decoration: none;
  color: #000;
}
